<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>티스토리 블로그 인덱스 링크 자동완성</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h2>valid</h2>
<br>
<div class="col-md-12">
    <div class="col-md-4">
        <form action="valid.html" th:action="@{/valid}" th:object="${validForm}" method="post">
            <div class="form-group">
                <label th:for="allcode">입력된 html코드 전문</label>
                <textarea rows="10" cols="50" class="form-control" th:field="*{allCode}"></textarea>
            </div>
            <div class="form-group">
                <label th:for="titleHtmlKeyword">입력된 타이틀 구분 키워드</label>
                <input type="text" class="form-control" th:field="*{titleHtmlKeyword}"/>
            </div>
            <div class="form-group">
                <label th:for="indexHtmlKeyword">입력된 인덱스 구분 키워드</label>
                <input type="text" class="form-control" th:field="*{indexHtmlKeyword}"/>
            </div>
            <button type="submit" class="btn btn-primary">수정</button>
        </form>
        <br>
        <h3>유효성 검증</h3>
        <p>타이틀 개수</p><p th:text="${titleNum}"></p>
        <br>
        <p>중복 여부</p>
        <p th:if="${code.indexOver == 2}">중복 없음</p>
        <p th:unless="${code.indexOver == 2}">중복 있음</p>
        <br>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <a th:if="${code.indexOver == 2}" th:href="@{/result}" role="button" class="btn btn-primary">변환</a>

    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>